*.iml
.gradle
/local.properties
.idea/
.vscode/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Google Services (Important: DO NOT LEAK)
google-services.json

# Build outputs
.build-outputs/
*.apk
*.aab
